# config, env and cache files
__pycache__/
.ipynb_checkpoints/
ipython_config.py
.pytest_cache/
.env
# uv
.venv/
uv.lock

# logs and merge tool orig files
*.orig
*.log
logs/    
# "<folder_name>/" ignore all folders with this name anywhere below current level 

# tracked model performances, 

# trained models, models configs and visualization outputs
wandb/
*.pkl
*png

# archive files and folders
archive/
backups/
*.zip

